@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')

/*font-family: "Poppins", sans-serif;*/

*{
	margin: 0px;
	padding: 0px;
}
body{
	font-family: "Poppins", sans-serif;
	font-size: 15px;
	background-color: #ecf0f1;
	height: auto;
}
.my-nav{
	background-color: #6F1E51;
	color: white;
	padding: 15px;
}

.my-ul{
	padding: 15px;
}

.my-ul .nav-item .nav-link{
	color: white;
}

h1{
	color: grey;
	font-family: "Poppins";
	font-weight: bold;
	margin: 0px;
}

h2{
	color: #192a56;
	font-style: italic;
	margin: 0px;
}
p{
	margin: 0px;
	font-family: "Poppins",sans-serif;
	line-height: 22px;
}
small{
	color: #7f8c8d;
	font-style: italic;
}
a{
	text-decoration: none;
}
a:hover{
	color: grey;
}
.italic-font{
	margin: 0px;
	font-family: "Poppins", sans-serif;
	font-style: italic;
	font-size: 14px;
}

.my-btn-primary{
	background-color:#192a56;
	color: white;
	border: 0px;
}
.my-btn-danger{
	background-color:#c0392b;
	color: white;
	border: 0px;
}
.my-btn-success{
	background-color:#2980b9;
	color: white;
	border: 0px;
}

.my-btn-primary:active{
	transform: scale(0.98);
	box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
	background-color:#273c75 ;
}
.my-btn-danger:active{
	transform: scale(0.98);
	box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
	background-color:#273c75 ;
}
.my-btn-success:active{
	transform: scale(0.98);
	box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
	background-color:#273c75 ;
}

.my-input{
	color: #2c3e50;
	border-radius: 0px;
	border: 1px solid #bdc3c7;
	font-size: 14px;
	padding: 2px;
	outline: none;
}

.my-card{
	background-color: white;
	padding: 20px;
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.20);
}

/*ESTILO DE LA BARRA SUPERIOR*/
.my-card .select-nav{
	width: 50%;
	background-color: red;
}

.btn-nav{
	padding: 2px 15px;
	float: right;
}
.input-nav{
	width: 10%;
}
.my-card .row .col-4 p:first-child{
	font-weight: bold;
	font-size: 18px;
}
.input-articles label{
	margin-left: 15px;
}
.ticket{
	text-align: center;
}
.ticket p:last-child{
	font-weight: bold;
}
.ticket-body .ticket-item{
	text-align: left;
	display: flex;
	margin-bottom: 29px;
}

.ticket-body .ticket-item div:first-child{
	margin-right: 7px;
}
.ticket-body .ticket-item div:last-child{
	text-align: right;
}
.invoice-detail table{
	width: 100%;
}
.invoice-detail table tr{
	border-bottom: 1px solid #ecf0f1;
}

.invoice-detail table tr th{
	font-weight: bolder;
	font-size: 25px;
}

.invoice-detail table tr:last-child td p:first-child{
	font-size: 20px;
	font-weight: bold;
	margin-top: 25px;
	text-align: left;
}
.invoice-detail table tr:last-child td p:last-child{
	color: #16a085;
	font-size: 25px;
	font-weight: bold;
	margin-top: 8px;
}
.line-invoice td{
	color: #16a085;
	font-weight: bold;
	text-align: right;
}
/*Menu lateral*/
#side-nav-entry{
	display: none;
}
.side-nav{
	background-color: #192a56;
	width: 40%;
	height: 100vh;
	padding: 15px;
	transition: 0.4s ease;
}
.label-float{
	position: absolute;
	top: 10px;
	left: 15px;
	background-color: #353b48;
	border-radius: 50%;
	padding: 5px;
	width: 4%;
	transition: 0.4s ease;*/
}
.label-float:hover{
	background-color: #dcdde1;
	#nav-side{
		color: black;
	}
	#nav-restore{
		color: black;
	}
}
#nav-right{
	display: block;
	color: white;
	font-size: 30px;
	margin-left: 7px;
	transition: 0.4s linear;
}

#nav-left{
	color: white;
	font-size: 30px;
	margin-left: 7px;
	display: none;
}
.header p{
	color: white;
	font-weight: bold;
	font-size: 16px;
	display: none;
	padding: 15px;
	transition: 0.1s linear;
}
.my-side-nav{
	width: 100%;
	margin-top: 90px;
}
.my-side-nav ul{
	padding: 5px;
}
.my-side-nav ul li{
	list-style: none;
}

.my-side-nav ul li a{
	color: white;
	font-size: 40px;
	padding: 5px;
	display: flex;
	align-items: center;
	gap: 20px;
}
.my-side-nav ul li a p{
	font-size: 18px;
	display: none;
}
.my-side-nav ul li a:hover{
	color: grey;
}
.login-block{
	position: absolute;
	bottom: 5px;
	left: 28px;
}
.login-block a{
	color: white;
	font-size: 40px;
}
#side-nav-entry:checked ~ .side-nav{
	width: 100%;
}

#side-nav-entry:checked + .side-nav>.header>.label-float{
	left: 180px;
}

#side-nav-entry:checked + .side-nav>.header p{
	display: block;
}
#side-nav-entry:checked + .side-nav>.header>.label-float #nav-left{
	display: block;
}
#side-nav-entry:checked + .side-nav>.header>.label-float #nav-right{
	display: none;
}
#side-nav-entry:checked + .side-nav>.my-side-nav>ul>li>a{
	font-size: 25px;
}
#side-nav-entry:checked + .side-nav>.my-side-nav>ul>li>a>p{
	display: block;
	font-size: 20px;
}

